@model Futbapp.Models.Usuario
@using Futbapp.Models

@{
    ViewBag.Title = "MiPerfil";
}

<div class="container col-sm-12">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>@Model.NombreDeUsuario</h2>
    </div>
    <section class="col-sm-4">
        <div><strong>Nombre</strong></div>
        <div>@Model.Nombre</div>
        <div><strong>Apellido</strong></div>
        <div>@Model.Apellido</div>
        <div><strong>Email</strong></div>
        <div>@Model.Email</div>
        <div><strong>Zona</strong></div>
    @{
        Ubicacion ubicacion = ViewBag.Ubicacion;
        <div>
            @ubicacion.Zona; , @ubicacion.Ciudad;
        </div>
    }
    </section>
    <section class="col-sm-8">
        <h2>Equipo:
        @{
            @Model.EquipoID;
        }</h2>
        <table class="table table-condensed">
            <thead class="col-sm-12">
                <tr>
                    <th>Lider</th>
                    <th>Posicion</th>
                    <th>Puntos</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>Victorias</th>
                    <th>Empates</th>
                    <th>Derrotas</th>
                </tr>
            </thead>
            <tbody>
            @{
                Equipo equipo = ViewBag.Equipo;
                   <tr>
                       <th>@equipo.NombreDeLider</th>
                       <th>@equipo.Posicion</th>
                       <th>@equipo.Puntos</th>
                       <th>@equipo.GF</th>
                       <th>@equipo.GC</th>
                       <th>@equipo.Victorias</th>
                       <th>@equipo.Empates</th>
                       <th>@equipo.Perdidas</th>
                   </tr>
            }
            </tbody>
            <a href="@Url.Action("VerMiEquipo","Equipo", Model)">Ver equipo</a> 
        </table>
    </section>
    <section class="col-sm-8">
        <table class="table table-condensed">
            <thead class="col-sm-12">
                <tr>
                    <th>Fecha</th>
                    <th>Equipo</th>
                    <th>Equipo Ganador</th>
                    <th>Goles hechos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
                <tr>
                    <th>26-07-2017</th>
                    <th>Blabla vs lalalala</th>
                    <th>Blabla</th>
                    <th>2</th>
                    <th>Detalles</th>
                </tr>
            </tbody>
        </table>
    </section>
</div>